@font-face {
	font-family: "IBM Plex Sans";
	src: url("../webfonts/IBMPlexSans-Regular.ttf");
}

@font-face {
	font-family: "Basic Regular";
	src: url("../webfonts/Basic-Regular.ttf");
}

@font-face {
	font-family: "Anton Regular";
	src: url("../webfonts/Anton-Regular.ttf");
}

@font-face {
	font-family: "Baloo Tamma 2";
	src: url("../webfonts/BalooTamma2-Regular.ttf");
}

@font-face {
	font-family: "Pacifico";
	src: url("../webfonts/Pacifico-Regular.ttf");
}

